@import 'params.styl'

nav-height = space*3
header-font = space*1.1
message-font = space*.9
accent-font = space*.7
bright-blue = #96DDE1
error-red = #cc0000
success-green = #49E20E
aq = #38c0c7
dark-pastel-blue = #779ecb
pastel-blue-1 = #7ea3ce
pastel-blue-2 = #90b0d5
pastel-blue-3 = #a3bddc
pastel-blue-4 = #b5cae3

profile-size = space*2
log-width = space*18
log-height = space*25

logs-5 = "calc((%s + (%s * 2)) * 5)" % (log-width space)
logs-4 = "calc((%s + (%s * 2)) * 4)" % (log-width space)
logs-3 = "calc((%s + (%s * 2)) * 3)" % (log-width space)
logs-2 = "calc((%s + (%s * 2)) * 2)" % (log-width space)
logs-1 = "calc((%s + (%s * 2)) * 1)" % (log-width space)

body
  -o-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;

.chat-container
  width 50%


#chat-menu
  width 100%
  position relative
  height nav-height
  background-color white
  border-bottom 1px solid light-gray
  box-sizing border-box
  line-height nav-height
  font-size header-font
  color #2a4a6f

  .chat-btn
    width space*10
    height nav-height
    float right
    line-height nav-height
    text-align center
    box-sizing border-box
    cursor pointer
    transition background-color .2s ease-in-out
    &:hover
      background-color bright-blue
    // &:nth-child(4)
    //   background-color pastel-blue-1
    // &:nth-child(3)
    //   background-color pastel-blue-2
    // &:nth-child(2)
    //   background-color pastel-blue-3
    // &:nth-child(1)
    //   background-color pastel-blue-4

  .chat-logo
    float left
    width space*15
    height nav-height

    .chat-botler
      width nav-height
      height nav-height
      float left

    .chat-header
      height nav-height
      float right
      width "calc(100% - %s)" % nav-height
      padding-left space
      box-sizing border-box

.chat-login
  width 100%
  height 100%
  position fixed
  text-align center
  background-color pastel-blue-4
  animation fade-background 1.5s forwards
  animation-delay .5s
  z-index 1

  .vertical-center
    position absolute
    top 50%
    left 50%
    transform translateY(-50%) translateX(-50%)

    .inner-login
      width space*20
      padding 0
      margin 0

      .chat-logo
        transform translateY(-20px)
        animation move-down .6s forwards
        z-index 1
        width space*20
        float left

      .chat-login
        transform translateY(-50px)
        height nav-height
        width space*20
        left 0
        box-sizing border-box
        text-align center
        animation move-login .6s forwards
        float left
        line-height nav-height
        font-size header-font
        border none
        margin 0
        padding 0
        transition background-color .3s ease-in-out
        cursor pointer
        &:hover
          background-color aq

      .chat-logo, .chat-login
        animation-delay .2s

      .credentials
        z-index 3
        opacity 0
        width space*20
        height space*25
        background-color white

        .inner-credentials
          position absolute
          width 100%
          height 100%
          text-align center

          .profile
            width profile-size*2
            height profile-size*2
            border-radius profile-size
            margin space
            margin-top space*1.5

          .info
            width 100%
            height space*2
            line-height space*2

          form
            .input-btn
              width 50%
              height nav-height
              border-radius 4px
              background-color light-gray
              text-shadow none
              color white
              background-color success-green
              text-decoration none
              border none
              background-image none
              box-shadow 2px 2px 3px 1px light-gray
              &:hover
                box-shadow 2px 2px 6px 1px medium-gray

            input
              width 80%
              margin space
              font-size message-font
              &:active, &:focus
                &.red
                  box-shadow 0px 0px 3px 1px error-red
                &.gray
                  box-shadow 0px 0px 3px 1px light-gray
                &.green
                  box-shadow 0px 0px 3px 1px success-green

.chat-stats
  width 100%
  height "calc(100% - %s)" % nav-height

  h2
    height nav-height*2
    border-bottom 1px solid light-gray
    line-height nav-height*2
    padding-left nav-height

.bot-chat-outer, .bot-log-outer
  width 100%
  position absolute
  background-color white
  color black
  height "calc(100% - %s)" % nav-height
  &.dark-theme
    filter invert(100%)
    -webkit-filter invert(100%)

  .loading-cover
    background-color dark-pastel-blue
    width 100%
    height 100%
    position absolute
    z-index 2

  .toggle-theme
    position absolute
    top 0
    right 0
    margin space-x-small
    width space*5
    line-height nav-height
    text-align center
    height nav-height
    font-size accent-font
    background-color black
    color white
    transition background-color .3s ease-in-out
    z-index 1
    cursor pointer
    border-radius space*2
    &:hover
      background-color dark-gray

  #horizontal-center
    position absolute
    left 50%
    transform translateX(-50%)
    top 20px
    opacity 0
    height 100%

    .chat-container
      width space*50
      height 100%
      box-sizing border-box

      .chat-header
        position relative
        width 100%
        height nav-height
        border-bottom 1px solid light-gray
        text-align center
        font-size header-font
        box-sizing border-box
        padding 0 space

        .chat-time
          position absolute
          bottom - nudge*2.25
          padding 0 space-small
          z-index 1
          border-radius nudge*2.25
          background-color white
          font-size accent-font
          color light-gray
          left 50%
          transform translateX(-50%)

        .header-left, .header-right
          width 50%
          height nav-height
          line-height nav-height

        .header-left
          text-align left

        .header-right
          float right

          img
            width profile-size
            height profile-size
            border-radius profile-size*.5
            float right
            padding-top nudge*2.5

        .header-left
          float left

      .input
        position relative
        width 100%
        height nav-height
        padding 0 space*2
        box-sizing border-box

        input
          width 100%
          font-size message-font
          border-top 1px solid light-gray
          border-bottom 1px solid light-gray
          padding-top nudge
          padding-bottom nudge
          padding-left 0
          &:active, &:focus
            padding-left space

.conversation
  position relative
  width 100%
  height "calc(100% - (%s * 2))" % nav-height
  overflow-y auto
  padding 0 space*2
  box-sizing border-box

  .bot-message, .user-message
    position relative
    width 100%
    padding space

    img
      width profile-size
      height profile-size
      border-radius space*1.5

  .bot-message, .user-message
    float left
    width space*30

    img
      float left

    .message
      float left
      margin-left space
      max-width space*26
      box-sizing border-box
      background-color very-light-gray
      min-height space*3
      border-radius 0px 10px 10px 10px
      padding space-x-small
      transform translateY(20px)
      opacity 0

      .heading
        width 100%
        vertical-align bottom

        h3
          font-size header-font
          float left
          margin 0

        span
          font-size accent-font
          float left
          color medium-gray
          padding 0
          margin 0 space-x-small

      p
        font-size message-font
        margin-top space*1.5
        width 100%
        overflow auto
        white-space normal

  .user-message
    float right

    img
      float right

    .message
      float right
      margin-left 0
      margin-right space
      background-color bright-blue
      border-radius 10px 0px 10px 10px

      .heading
        h3, span
          float right

        span
          color white

      p
        text-align right

.bot-log-outer
  .show-log
    opacity 0
    position fixed
    width 100vw
    height 100vh
    padding 0
    border-bottom 0px
    left 0
    top 0
    transform translateX(0) translateY(0)
    display block
    z-index 2

    .log-mask
      width 100%
      height 100%
      background-color white
      opacity .85

    .show-log-container
      position absolute
      width space*50
      height "calc(100% - (%s * 2))" % nav-height
      left 50%
      top 50%
      transform translateX(-50%) translateY(-50%)
      background-color white
      box-shadow 0px 0px 4px 0px rgba(166,166,166,1)

      .conversation
        width 100%
        height "calc(100% - %s)" % nav-height

      .header
        width 100%
        height nav-height
        padding 0
        margin 0
        vertical-align middle
        padding space
        box-sizing border-box
        border-bottom 1px solid light-gray

        h3
          float left

        .close
          float right
          font-size accent-font
          padding-top nudge
          cursor pointer

  #horizontal-center
    width 100%

    .log-container
      width logs-5
      height "calc(100% - %s)" % space
      padding-top space
      box-sizing border-box
      margin 0 auto
      @media screen and (max-width: 1600px)
        width logs-4
      @media screen and (max-width: 1280px)
        width logs-3
      @media screen and (max-width: 960px)
        width logs-2
      @media screen and (max-width: 640px)
        width logs-1

      .log-tile
        width log-width
        height log-height
        margin space
        opacity 0
        transform translateY(30px)
        border 1px solid light-gray
        box-sizing border-box
        display inline-block
        cursor pointer
        box-shadow 0px 0px 4px 0px rgba(166,166,166,1)
        transition box-shadow .3s ease
        -o-backface-visibility: hidden;
        -moz-backface-visibility: hidden;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        &:hover
          box-shadow 0px 0px 12px 0px rgba(166,166,166,1)

        .header-left, .header-right
          height nav-height*2
          border-bottom 1px solid light-gray
          padding 0
          margin 0
          box-sizing border-box
          padding-top nav-height*.5

        .header-left
          width 67%
          float left
          padding-left space
          line-height nav-height

        .header-right
          width 33%
          float right
          text-align center

          img
            width profile-size*1.5
            height profile-size*1.5
            border-radius profile-size*.75

        p
          position relative
          float left
          font-size message-font
          width log-width
          height "calc(%s - (%s * 2))" % (log-height nav-height)
          overflow visible
          white-space normal
          box-sizing border-box
          padding space
          color black

#loading, #loading2
  width nav-height
  height nav-height
  border-radius nav-height*.5
  position absolute
  left 50%
  top 50%
  transform translateX(-50%) translateY(-50%)
  background-color bright-blue

#loading2
  background-color white

@keyframes move-login
  from
    transform translateY(-50px)
    background-color pastel-blue-4
  to
    transform translateY(0px)
    background-color bright-blue

@keyframes move-down
  from
    transform translateY(-20px)
  to
    transform translateY(0px)

@keyframes fade-background
  from
    background-color pastel-blue-4
  to
    background-color dark-pastel-blue
