space = 1rem
space-small = .8rem
space-x-small = .6rem
space-large = 1.2rem
space-x-large = 1.4rem
nudge = .2rem
tiny-nudge = .1rem

main-padding = space*8
header-height = space*16
nav-height = space*5
tile-padding = space-small

widescreen-ration = .5625

tile-prop = .6
tile-third-prop = .9
tile-height = 20%

very-light-gray = #f2f2f2
light-gray = #d3d3d3
medium-gray = #a6a6a6
dark-gray = #737373
black = #000000
off-black = #0d0d0d
bright-pastel-blue = #15D9F8
pastel-blue = #aec6cf
pastel-red = #ff6961
