space = 1em
space-small = .8em
space-x-small = .6em
space-large = 1.3em
space-x-large = 1.6em
nudge = .2em
tiny-nudge = .1em

black = #000000
off-black = #404040
grey-light = #dddddd
white = #ffffff
grey-middle = #999999
pale-turqoise = #02e8aa
medium-turqoise = #79E5CA
dark-turqoise = #51CCAD
light-turquoise = #D9FDF4

pale-orange = #FFE0AD
pale-blue = #ADCCF4
pale-red = #FFCCAD

nav-height = space*6
main-padding = space*6

header-font = space*1.1
message-font = space*.9
accent-font = space*.7
bright-blue = #96DDE1
error-red = #cc0000
success-green = #49E20E
aq = #38c0c7
dark-pastel-blue = #779ecb
pastel-blue-1 = #7ea3ce
pastel-blue-2 = #90b0d5
pastel-blue-3 = #a3bddc
pastel-blue-4 = #b5cae3

profile-size = space*2

@font-face
  font-family CircularPro-Bold
  src url("/assets/Originate_Brand_Fonts/Circular/CircularPro-Bold.otf")

@font-face
  font-family CircularPro-Medium
  src url("/assets/Originate_Brand_Fonts/Circular/CircularPro-Medium.otf")

@font-face
  font-family CircularPro-Book
  src url("/assets/Originate_Brand_Fonts/Circular/CircularPro-Book.otf")

@font-face
  font-family MillerDisplay
  src url("/assets/Originate_Brand_Fonts/Miller\ Display\ Family/Font\ Bureau\ -\ MillerDisplay-Roman.otf")

html, body
  width 100%
  height 100%
  padding 0
  margin 0
  font-family CircularPro-Book

iframe
  border 0

a, a:link, a:visited
  text-decoration none

input
  line-height space*2
  border 1px solid light-grey
  outline none
  transition all .25s ease-in-out
  padding-left space*.5
  padding-right 0
  box-sizing border-box
  border none
  border-bottom 1px solid grey-middle
  margin 0
  &:focus
    padding-left space

h3
  color dark-grey
  padding 0
  margin 0
  vertical-align middle

.name
  font-family CircularPro-Bold
  font-size space-x-large
  font-weight bold
  letter-spacing -0px
  color black

.intent
  font-family CircularPro-Medium
  font-size space
  font-weight 500
  letter-spacing -0px
  color white

.date-bot
  font-family CircularPro-Book
  font-size space
  letter-space -0px
  color grey-middle

.body-text
  font-family CircularPro-Book
  font-size space
  line-height 1.5
  letter-spacing -0px
  color black

.date-user
  font-family CircularPro-Book
  font-size space
  letter-spacing -0px
  text-align right
  color white

.time-marker-label
  font-family CirularPro-Book
  font-size space
  letter-spacing -0px
  text-align center
  color grey-middle
